		<div id="body">
			<div style="display: flex; flex-wrap: wrap;">
				<div>
					<div class="form-group" style="width: 250px">
						X: <input class="form-control" type="number" ng-model="center.lat">
						Y: <input class="form-control" type="number" ng-model="center.lng">
						Zoom: <input class="form-control" type="number" ng-model="center.zoom">
						Start: <input class="form-control" type="text" datetime="dd.MM.yyyy HH:mm:ss" datetime-model="yyyy-MM-ddTHH:mm:ss" ng-model="parkingspotQuery.startTime">
						End: <input class="form-control" type="text" datetime="dd.MM.yyyy HH:mm:ss" ng-model="parkingspotQuery.endTime">
						
						<!-- Start: <datetimepicker data-ng-model="parkingspotQuery.startTime"></datetimepicker> -->
						<!-- End: <datetimepicker data-ng-model="parkingspotQuery.endTime"></datetimepicker> -->
						<!--
						<div class="dropdown">
					    <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target=".dropdown" href="#">
					        Click here to show calendar
					    </a>
					    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					        <datetimepicker data-ng-model="data.date"
					                        data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }"></datetimepicker>
					    </ul>
						</div>
						
						<div class="dropdown">
    <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target=".dropdown" href="#">
      <div class="input-group">
        <input type="text" id="date" name="date" class="form-control" data-ng-model="data.date">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <datetimepicker   data-ng-model="data.date" 
                        data-datetimepicker-config="{ dropdownSelector: '#dropdown' }"></datetimepicker>
    </ul>
  </div>
						<div class="dropdown form-group dropdown-start-parent">
						<label>Start Date</label>
						<a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target=".dropdown-start-parent"
							 href="#">
							<div class="input-group date">
								<input type="text" class="form-control" data-ng-model="dateRangeStart">
								<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							</div>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<datetimepicker data-ng-model="dateRangeStart"
											data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
											data-on-set-time="startDateOnSetTime()"
											data-before-render="startDateBeforeRender($dates)"></datetimepicker>
						</ul>
					</div>

						<div class="dropdown form-group dropdown-end-parent">
							<label>End Date</label>
							<a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target=".dropdown-end-parent"
								 href="#">
								<div class="input-group date">
									<input type="text" class="form-control" data-ng-model="dateRangeEnd">
									<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="dateRangeEnd"
												data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
												data-on-set-time="endDateOnSetTime()"
												data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
							</ul>
						</div> 
					-->
						<input type="submit" value="Search" class="btn btn-primary" ng-click="search(parkingspotQuery)">
					</div>

					<table id="all_users" class="table" align="center">
						<tr>
							<th>ID</th>
							<th>Type</th>
							<th>Start</th>
							<th>End</th>
							<th>EUR C/min</th>
							<th>Cost</th>
							<th>Parkingspot</th>
						</tr>
						<tr ng-repeat="parkingtime in parkingspotQueryResults" ng-click="showParkingspot(parkingtime)">
							<td>{{parkingtime.id}}</td>
							<td>{{parkingtime.parkingType}}</td>
							<td>{{parkingtime.parkingStart | date:'dd.MM.yyyy HH:mm:ss Z' }}</td>
							<td>{{parkingtime.parkingEnd | date:'dd.MM.yyyy HH:mm:ss Z' }}</td>
							<td>{{parkingtime.costPerMinute}}</td>
							<td>{{parkingtime.cost}}</td>
							<td>{{parkingtime.parkingspot.name}} ({{parkingtime.parkingspot.owner.name}})</td>
						</tr>
					</table>
				</div>
				<div class="form-group" style="width: 250px; margin-left: 10px;">
					<label>Update parkingtime: {{lastTransactionId}}</label>
					<br/>
					id: <input class="form-control" type="text" placeholder="Ex: 11" ng-model="newParkingtime.id">
					ParkingStart: <input class="form-control" type="text" placeholder="Ex: 2017-12-11T14:09:38.7378781Z" ng-model="newParkingtime.parkingStart">
					ParkingEnd: <input id="createName" class="form-control" type="text" placeholder="Ex: 2017-12-11T14:09:38.7378781Z" ng-model="newParkingtime.parkingEnd">
					CostPerMinute: <input id="createName" class="form-control" type="text" placeholder="Ex: 10" ng-model="newParkingtime.costPerMinute">
					Parkingspot.id: <input class="form-control" type="text" placeholder="Ex: 2" ng-model="newParkingtime.parkingspot.id">
					Parkingspot.name: <input class="form-control" type="text" placeholder="Ex: 2" ng-model="newParkingtime.parkingspot.name">
					<input type="submit" value="Create new parking slot" class="btn btn-primary" ng-click="saveParkingtime(newParkingtime)">
					<input type="submit" value="Create new parking reservation" class="btn btn-primary" ng-click="saveParkingtimeReservation(newParkingtime)">
				</div>
				<div style="width: 400px; margin-left: 10px;">
					<!-- <form>
							Latitude : <input class="form-control" type="number" step="any" ng-model="center.lat">
							Longitude : <input class="form-control" type="number" step="any" ng-model="center.lng">
							Zoom : <input class="form-control" type="number" step="any" ng-model="center.zoom">
					</form> -->
			    <leaflet center="center" width="100%" height="480px" geojson="geojson"></leaflet>
				</div>
			</div>
		</div>
