    <div id="body">
      <div style="display: flex; flex-wrap: wrap;">
        <div>
          <table class="table" align="center">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Cost per min</th>
              <th>Owner</th>
              <th></th>
            </tr>
            <tr ng-repeat="ps in allParkingspots" ng-click="editParkingspot(ps)">
              <td>{{ps.id}}</td>
              <td>{{ps.name}}</td>
              <td>{{ps.costPerMinute.amount}} {{ps.costPerMinute.currencyName}}</td>
              <td>{{ps.owner.name}}</td>
              <td>
                <input type="button" value="Admin parkingtimes" class="btn btn-primary" ng-click="parkingspotParkingtimes(ps)">
              </td>
            </tr>
          </table>
          
          <div class="form-group">
            <p><input type="submit" value="User parkingspots" class="btn btn-primary" ng-click="search()"></p>
          </div>
        </div>
          
        <div class="form-group" style="margin-left: 10px; width: 400px;">
          <label>Update parkingspot: {{lastTransactionId}}</label><br/>
          <br/>
          id: <input class="form-control" type="text" ng-model="newParkingspot.id">
          Name: <input class="form-control" type="text" ng-model="newParkingspot.name">
          Location.x: <input class="form-control" type="text" ng-model="newParkingspot.location.x">
          Location.y: <input class="form-control" type="text" ng-model="newParkingspot.location.y">
          Cost per min: <input id="createName" class="form-control" type="text" ng-model="newParkingspot.costPerMinute.amount">
          <input type="submit" value="Save" class="btn btn-primary" ng-click="saveParkingspot(newParkingspot)">
        </div>
      </div>
    </div>
