
    <div id="body">
      <div class="form-group">
        <label>Query All</label>
        <p><input id="queryAllTuna" type="submit" value="Query" class="btn btn-primary" ng-click="queryAllTuna()"></p>
      </div>

      <table id="all_tuna" class="table" align="center">

        <tr>
          <th>Key</th>
          <th>ID</th>
          <th>Type</th>
          <th>Start</th>
          <th>End</th>
          <th>Cost per minute</th>
          <th>Cost for time</th>
          <th>Parkingspot</th>
          <th>Parkingspot.id</th>
        </tr>

        <tr ng-repeat="result in all_parkingspots">
          <td>{{result.Key}}</td>
          <td>{{result.Id}}</td>
          <td>{{result.parkingType}}</td>
          <td>{{result.parkingStart | date:'dd.MM.yyyy HH:mm:ss Z' }}</td>
          <td>{{result.parkingEnd | date:'dd.MM.yyyy HH:mm:ss Z' }}</td>
          <td>{{result.costPerMinute}}</td>
          <td>{{result.cost}}</td>
          <td>{{result.parkingspot.name}}</td>
          <td>{{result.parkingspot.id}}</td>
        </tr>
      </table>

      <div class="form-group">
        <label>Query by key</label><br>
        <h5 style="color:red;margin-bottom:2%" id="error_query">Error: Please enter a valid Tuna Id</h5>

        Enter a catch number: <input id="createName" class="form-control" type="text" placeholder="Ex: 3" ng-model="tuna_id">
        <input id="querySubmit" type="submit" value="Query" class="btn btn-primary" ng-click="queryTuna()">
      </div>

      <table id="query_tuna" class="table" align="center">

        <tr>
          <th>Key</th>
          <th>ID</th>
          <th>Type</th>
          <th>Start</th>
          <th>End</th>
          <th>Cost per minute</th>
          <th>Cost after end(cents)</th>
          <th>Parkingspot</th>
          <th>JSON</th>
        </tr>

        <tr>
          <td>{{query_tuna.Key}}</td>
          <td>{{query_tuna.Id}}</td>
          <td>{{query_tuna.parkingType}}</td>
          <td>{{query_tuna.parkingStart | date:'dd.MM.yyyy HH:mm:ss Z'}}</td>
          <td>{{query_tuna.parkingEnd | date:'dd.MM.yyyy HH:mm:ss Z'}}</td>
          <td>{{query_tuna.costPerMinute}}</td>
          <td>{{query_tuna.cost}}</td>
          <td>{{query_tuna.parkingspot}}</td>
          <td>{{query_tuna.json}}</td>
        </tr>
      </table>

      <div class="form-group">
        <label>Create Record</label>
        <h5 style="color:green;margin-bottom:2%" id="success_create">Success! Tx ID: {{create_tuna}}</h5>
        <br>
        Enter id: <input class="form-control" type="text" placeholder="Ex: 11" ng-model="tuna.id">
        Enter ParkingStart: <input class="form-control" type="text" placeholder="Ex: 2017-12-11T14:09:38.7378781Z" ng-model="tuna.parkingStart">
        Enter ParkingEnd: <input id="createName" class="form-control" type="text" placeholder="Ex: 2017-12-11T14:09:38.7378781Z" ng-model="tuna.parkingEnd">
        Enter CostPerMinute: <input id="createName" class="form-control" type="text" placeholder="Ex: 10" ng-model="tuna.costPerMinute">
        Enter PaidAmount: <input class="form-control" type="text" placeholder="Ex: 12" ng-model="tuna.paidAmount">
        Enter Parkingspot.name: <input class="form-control" type="text" placeholder="Ex: Tartu-Sobra-tee-1-315" ng-model="tuna.parkingspot.name">
        <input id="createSubmit" type="submit" value="Create" class="btn btn-primary" ng-click="recordTuna()">
      </div>

      <div class="form-group">
        <label>Change   Holder</label><br>
        <h5 style="color:green;margin-bottom:2%" id="success_holder">Success! Tx ID: {{change_holder}}</h5>
        <h5 style="color:red;margin-bottom:2%" id="error_holder">Error: Please enter a valid Tuna Id</h5>
        Enter a catch id between 1 and 10: <input class="form-control" name="assetSelect" placeholder="Ex: 1" ng-model="holder.id">
        Enter name of new holder: <input class="form-control" name="assetSelect" placeholder="Ex: Barry" ng-model="holder.name">
        <input id="transferSubmit" type="submit" value="Change" class="btn btn-primary" ng-click="changeHolder()">
      </div>

    </div>
